{% macro hmlrMap(params) %}

  {% set width = params.width or '960px' %}
  {% set height = params.height or '540px' %}


  <figure class="hmlr-map-wrapper">
    <div class="hmlr-map" style="height:{{ height }}; width:{{ width }}"
      aria-label="{{params.alt}}" role="img" title="{{params.alt}}"
      data-coords="[{{ params.coords }}]" 
      data-zoom="{{ params.zoom }}" 
      data-interactive="{{ params.interactive }}" 
      data-use_draw_tools="{{ params.use_draw_tools }}" 
      data-layer_controls="{{ params.layer_controls }}" 
      data-path_to_geometry="{{ params.path_to_geometry }}" 
      data-tileurl="{{ params.tile_url }}"
      data-layers="{{ params.layers | dump }}" 
      
      tabIndex="0">
    </div>

    <figcaption class="govuk-body-s attribution">
      {{ params.caption }}
    </figcaption>
  </figure>

  {% if params.layers %}
  {% if params.layer_controls===true or params.layer_controls==="true" %}

<div class="govuk-form-group layer_controls">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
        Layers
      </h1>
    </legend>
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      {% for layer in params.layers %}
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input map-layer" id="LAYER_{{loop.index}}" name="LAYER_{{loop.index}}" type="checkbox" value="{{loop.index}}" checked>
        <label class=" govuk-checkboxes__label govuk-body-s layer_label" for="LAYER_{{loop.index}}">
          {{ layer.description or layer.path_to_geometry }}

        </label>
      </div>
      {% endfor %}
      
      
    </div>
  </fieldset>
</div>

  {% endif %}
  {% endif %}

  {# can these be added as part of the config.json? #}
  <script src="https://cdn.jsdelivr.net/npm/ol@10.3.1/dist/ol.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/proj4@2.12.1/dist/proj4.js"></script>
  {# import turf.js in order to combine geometries  #}
  <script src='https://cdn.jsdelivr.net/npm/@turf/turf@7/turf.min.js'></script>


{% endmacro %}