{% macro hmlrSimpleMap(params) %}

  {% set width = params.width or '960px' %}
  {% set height = params.height or '540px' %}

  <figure>
    <div class="map" style="height:{{ height }}; width:{{ width }}"
      aria-label="{{params.alt}}" role="img" title="{{params.alt}}"
      data-coords="[{{ params.coords }}]" 
      data-zoom="{{ params.zoom }}" 
      data-path_to_geometry="{{ params.path_to_geometry }}" 
      tabIndex="0">
    </div>
    <figcaption class="govuk-body-s govuk-!-margin-top-2">
      {{ params.caption }}<br/> Centered on:
      {{ params.coords }}, zoom level is {{ params.zoom }}
      <br/>
      Alt text: {{ params.alt }}
    </figcaption>
  </figure>

  
  <script src="https://cdn.jsdelivr.net/npm/ol@10.3.1/dist/ol.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/proj4@2.12.1/dist/proj4.js"></script>

{% endmacro %}