{% macro hmlrSimpleMap(params) %}

  <figcaption class="govuk-body-s govuk-!-margin-top-2">
    <div id="map" style="width: 850px; height: 550px; background-color:#ddd;"></div>
        MAP goes here, centered on {{ params.coords }}
      </figcaption>


  <script src="https://cdn.jsdelivr.net/npm/ol@10.3.1/dist/ol.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/proj4@2.12.1/dist/proj4.js"></script>
  <script >

    {% if params.coords %}
    let startPosn = [{{ params.coords }}];
    {% endif %}

  </script>

  

{% endmacro %}